body {
  margin: 0px;
}

.ad-area {
  margin-top: 10px;
}

.tag-line {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 970px;
  height: 250px;
  text-align: center;
}

.footer-icon {
  color: white;
  margin-top: 30px;
  font-size: 25px;
  width: 25px;
  height: 25px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ff5037;
  border-radius: 50%;
}

.footer-second-line {
  font-size: 18px;
  margin-top: 80px;
}

.footer-second-line-items {
  color: black;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.carousel-item {
  height: 200px;
}

.ad-img {
  height: 100%;
  background-size: cover;
  width: 100%;
}

.hash-tag {
  border-radius: 10px;
  border: 1px solid #ff5037;
  background-color: white;
  margin-left: 15px;
  margin-right: 20px;
}

.hash-tag:hover {
  background-color: #ff5037;
  color: white;
}

.card {
  width: 150px;
  margin-left: 15px;
  margin-right: 20px;
}

.card-body {
  height: 200px;
  text-align: center;
}

.card-body:hover {
  font-weight: 700;
  color: #ff5037;
  border: 1px solid #ff5037;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.card-title {
  margin-top: 50px;
}

.heart {
  float: right;
  font-size: 12px;
  background-color: white;
}

.card-area {
  display: flex;
  float: inline;
  justify-content: center;
  margin-top: 20px;
}
