body{
    margin : 0px;
  }

  nav {
    height : 80px;
    display : flex;
    justify-content: space-around;
    align-items: center;
    
  }
  .serarch-bar {
    width: 330px;
    height: 36px;
    left: 555px;
    top: 27px;
    border-radius: 10px;
    background-color: #E1E1E1;
    border : none;
   
  }
  
  .nav-detail {
    position:relative;
    right:310px;
    text-decoration: none;
    font-size : 18px;
    color : black;
    
  }
  .serarch-icon-move {
    position: relative;
    right : 35px;
    
  }

  main{
    border : 1px solid #D9D9D9;
    background-color: #D9D9D9;
    height : 200px;
  }  

  .nicknameProfile{
    position: absolute;
    height: 20.88px;
    left: 800px;
    top: 144.06px;
    font-size:30px;
   }

   .biprof{
    box-sizing: border-box;
    position: relative;
    width: 158px;
    height: 158px;
    left: 625px;
    top: 190px;
   }
   .label{
    font-size:14px;

    position: relative;
    height: 13.92px;
    left: 910px;
    top: 0px;

   }
   .labela{
    font-size:14px;

    position: relative;
    height: 13.92px;
    left: 910px;
    top: 14px;

   }

   .labelb{
    font-size:14px;

    position: relative;
    height: 13.92px;
    left: 910px;
    top: 28px;

   }

   .labelc{
    font-size:14px;

    position: relative;
    height: 13.92px;
    left: 910px;
    top: 42px;

   }

   .labeld{
    font-size:14px;

    position: relative;
    height: 13.92px;
    left: 910px;
    top: 56px;

   }

   .labele{
    font-size:14px;

    position: relative;
    height: 13.92px;
    left: 910px;
    top: 70px;

   }
   .alabele{
    font-size:14px;
    font-weight:bold;
    position: relative;
    height: 13.92px;
    left: 1000px;
    top: -126.8px;

   }
   .blabele{
    font-size:14px;
    font-weight:bold;
    position: relative;
    height: 13.92px;
    left: 1000px;
    top: -112.8px;

   }
   .clabele{
    font-size:14px;
    font-weight:bold;
    position: relative;
    height: 13.92px;
    left: 1000px;
    top: -98.8px;

   }
   .dlabele{
    font-size:14px;
    font-weight:bold;
    position: relative;
    height: 13.92px;
    left: 1000px;
    top: -84.8px;

   }
   .elabele{
    font-size:14px;
    font-weight:bold;
    position: relative;
    height: 13.92px;
    left: 1000px;
    top: -70.8px;

   }
   .flabele{
    font-size:14px;
    font-weight:bold;
    position: relative;
    height: 13.92px;
    left: 1000px;
    top: -56.8px;

   }


.square{
  left:615px;
  width:555px;
  height:200px;
  border-radius:15px;
  position: absolute;
  border-style: solid;
  border-width:1px;
  border-color:#C5C5C5;
}

.astudy{
font-size:20px;
position: relative;
width: 147.75px;
height: 21.07px;
left: 645px;
top: 18px;

}

.astudyarrow{
  font-size:30px;
  position: relative;
  width: 147.75px;
  height: 21.07px;
  left: 1111px;
  top: -5px;
  color:#FF5037;
  }

  .astudyprof1{
      position: relative;
      left:650px;
      top:7px;
      width: 41px;
      height: 41px;
      border-radius: 50%;
      background-color: #D9D9D9;
    
   }
   .astudyprof2{
    position: relative;
    left:650px;
    top:-19px;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: #D9D9D9;
   }

  .astudy1{
    font-size:19px;
    position: relative;
    width: 147.75px;
    height: 21.07px;
    left: 705px;
    top: -30px;

  }

  .astudy11{
    font-size:15px;
    position: relative;
    width: 147.75px;
    height: 21.07px;
    left: 1095px;
    top: -55px;
    color:#7D7D7D;
  }
.astudy2{
  font-size:19px;
  position: relative;
  width: 147.75px;
  height: 21.07px;
  left: 705px;
  top: -53px;
}
.astudy22{
  font-size:15px;
  position: relative;
  width: 147.75px;
  height: 21.07px;
  left: 1095px;
  top: -77px;
  color:#7D7D7D;
}
.square1{
  left:615px;
  width:555px;
  height:60px;
  border-radius:15px;
  position: absolute;
  border-style: solid;
  border-width:1px;
  border-color:#C5C5C5;
  top:700px;
}
.bstudy{
font-size:20px;
position: relative;
width: 147.75px;
height: 21.07px;
left: 645px;
top: -16px;
}
.bstudyarrow{
  font-size:30px;
  position: relative;
  width: 147.75px;
  height: 21.07px;
  left: 1111px;
  top: -52px;
}
.square2{
  left:615px;
  width:555px;
  height:60px;
  border-radius:15px;
  position: absolute;
  border-style: solid;
  border-width:1px;
  border-color:#C5C5C5;
  top:770px;
}
.cstudy{
  font-size:20px;
  position: relative;
  width: 147.75px;
  height: 21.07px;
  left: 645px;
  top: -16px;
  }
  .cstudyarrow{
    font-size:30px;
    position: relative;
    width: 147.75px;
    height: 21.07px;
    left: 1111px;
    top: -52px;
    color:#C5C5C5;
  }
  .squarebutton{
    left:965px;
    width:204px;
    height:53px;
    border-radius:15px;
    position: absolute;
    border-style: solid;
    border-width:1px;
    border-color:#FF5037;
    top:870px;
  }
.createbutton{
  font-size:19px;
  position: relative;
  width: 147.75px;
  height: 21.07px;
  left: 1005px;
  top: 17px;

  color: #FF5037;

}