body {
    margin: 0;
    /* width: 1024px; */
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_detail {
  margin: 0 0 0 15px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  float: right;
}

.nickname_area {
  position: relative;
  right: 30px;
  display: flex;
  align-items: center;
  margin: 15px;
}

.nickname_area:hover .dropdown{
  display: block;
}

.nickname_area:hover{
  cursor: pointer;
}

.dropdown{
  z-index: 1;
  position: absolute;
  display: none;
  border: solid 1px #E1E1E1;
  border-radius: 10px;
  background-color: white;
  font-size: 16px;
  width: 140px;
  text-align: center;
  height: 90px;
  padding: 10px 0 10px 0;
  margin: 10px 0 0 0;
  box-shadow: 0px 2px 4px 0px rgba(150, 150, 150, 0.25);
  top: 30px;
}
.dropdown:hover{
  display: block;
}
.dropdown_contents{
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px 5px;
}

.dropdown_contents:hover{
  color: #ff5037;
  display: block;
}

.logo_area {
  position: relative;
  left: 30px;
}
  
.nav_links{
  cursor: pointer;
}

.nav_links:hover{
  color: #ff5037;
}